01.Fundamentos/03.Aprendendo/tipos-variaveis/.vscode/settings.json
01.Fundamentos/03.Aprendendo/Operadores/.vscode/settings.json
01.Fundamentos/03.Aprendendo/01.java-anatomia/.vscode/settings.json
01.Fundamentos/03.Aprendendo/07.Desafio/.vscode/settings.json
01.Fundamentos/03.Aprendendo/01.Estruturas Condicionais/.vscode/settings.json
01.Fundamentos/03.Aprendendo/01.Fundamentos/01.java-anatomia/.vscode/settings.json
01.Fundamentos/03.Aprendendo/01.Fundamentos/02.tipos-variaveis/.vscode/settings.json
01.Fundamentos/03.Aprendendo/01.Fundamentos/03.Operadores/.vscode/settings.json
01.Fundamentos/03.Aprendendo/01.Fundamentos/04.Metodos/.vscode/settings.json
01.Fundamentos/03.Aprendendo/01.Fundamentos/07.Desafio/.vscode/settings.json
01.Fundamentos/03.Aprendendo/02.Estruturas de Repetição/.vscode/settings.json
